@charset "ISO-8859-1";
/* for h1 */
h1 {
    color: #f1f1f1;
    text-align: center;
 
}

h2 {
    color: #f1f1f1;
    text-align: center;
 
}

h3 {
    color: #f1f1f1;
    text-align: center;
 
}

h4 {
    color: #f1f1f1;
    text-align: center;
 
}


body{
      max-width: 60em;
      margin: 1em auto;
      text-align: center;
   	  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOSd58b5PYInQb13oghMBPzvSTAkDrAl0kVfo8cv7pR1gRDkb8");
      font-family: 'Verdana';      

}


p{
	color: #f1f1f1;
}

a {
	color: #f1f1f1;
	
}

ol {
max-width: 5em;

}

.responsive {
    width: 12em;
    height: auto;
}

.sidenav {
  height: 100%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2em;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 0em 0em 1em 1em;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 10em; /* Same as the width of the sidenav */
  font-size: 1em; /* Increased text to enable scrolling */
  padding: 0em 1em;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 1em;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 0em;
}